body {
  background-color: rgb(48, 53, 58);
  color: whitesmoke;
}

.App {
  text-align: center;
}

.list {
  display: inline-grid;
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
}

.card {
  background-color: peru;
  color: black;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  border-radius: 10px;
  border: 3px solid white;
}

.title {
  font-size: 20px;
  text-decoration: underline;
}